header{
    height: 40px;
    padding: 10px, 10px, 10px, 10px;
    background-color: chocolate;
    border-bottom: 3px solid black;
    color: white;
    text-align: center;
}
main{
    margin: 15px, 15px, 15px, 15px;
    padding: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    width: 80vw;
    height: vh
}
footer{
    height: 40px;
    padding: 10px, 10px, 10px, 10px;
    background-color: black;
    color: white;
    text-align: center;
}
article{
    margin-top: 25px;
    margin-bottom: 25px;
}
h2{
    font-family: arial;
}
p{
    font-family: Helvetica;
}
.destaque{
    color: red;
}